<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moubjo.melcsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/melcomlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CheckoutInfo"></activity>
        <activity android:name=".About" />
        <activity android:name=".Viewed" />
        <activity
            android:name=".Wishlist"
            android:label="Your wishlist" />
        <activity android:name=".Zoomer" />
        <activity
            android:name=".CartActivity"
            android:label="Your cart" />
        <activity
            android:name=".ProductDetails"
            android:label="Product details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ProductListing" />
        <activity android:name=".SubCategoriesListing" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Splach">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>